%icon-border {
	border-radius: 50%;
	display: inline-block;
}

.lj-logo {
	img {
		float: left;
	}
}
.header-branding {
	.brand {
		padding: 2em;
		height: 200px;
		width: 90%;
		margin: auto;
		color: white;
		background: rgba(0, 0, 0, 0.3);
		font-size: 2em;
		text-align: center;
		color: white;
		font-weight: bold;
	}
}

.testimonial {
	.icon-border {
		@extend %icon-border;
		border: 2px solid #eee;
		width: 48px;
		height: 48px;
	}
}

.how-it-works {
	h3 {
		font-size: 1.2em;
		text-align: center;
	}

	.lj-icon-box {
		padding: 0 20px;
		// margin-top: 60px;
	}
	.icon-border {
		@extend %icon-border;
		border: 5px solid #eee;
		width: 120px;
		height: 120px;
		margin: .5em auto;
		text-align: center;
		font-size: 26px;
		line-height: 130px;
		clear: both;
		display: block;
	}
}

.text-right {
	text-align: right;
}

.bold {
	font-weight: bold;
}