.testimonial .icon-border, .how-it-works .icon-border {
  border-radius: 50%;
  display: inline-block; }

.lj-logo img {
  float: left; }

.header-branding .brand {
  padding: 2em;
  height: 200px;
  width: 90%;
  margin: auto;
  color: white;
  background: rgba(0, 0, 0, 0.3);
  font-size: 2em;
  text-align: center;
  color: white;
  font-weight: bold; }

.testimonial .icon-border {
  border: 2px solid #eee;
  width: 48px;
  height: 48px; }

.how-it-works h3 {
  font-size: 1.3em;
  text-align: center; }

.how-it-works .lj-icon-box {
  padding: 0 20px; }

.how-it-works .icon-border {
  border: 5px solid #eee;
  width: 120px;
  height: 120px;
  margin: .5em auto;
  text-align: center;
  font-size: 26px;
  line-height: 130px;
  clear: both;
  display: block; }

.text-right {
  text-align: right; }

.bold {
  font-weight: bold; }

.m-auto {
  margin-left: auto;
  margin-right: auto; }

.lj-subscribe-form {
  padding-top: 1em; }

.subscribe .btn-more {
  padding: 1em;
  text-align: center; }

.subscribe .form-product {
  padding-top: 1em;
  border-bottom: 1px solid #eee; }

.subscribe .form-product-input {
  margin-top: 3em; }
  .subscribe .form-product-input label {
    color: #999; }

.trial {
  background-color: #fafafa;
  min-height: 650px; }
